body {
    font-family: "Open Sans", sans-serif;
}

#debug-section {
  font-family: "Fira Mono", monospace;
}

#commits-section {
  font-family: "Fira Mono", monospace;
}

#files-section {
  font-family: "Fira Mono", monospace;
}
